/*

----------------Typography----------------

Fontts:
12px / 16px / 20px / 24px / 32px / 40px / 48px / 62px

Font Weights
400 / 700

Line Heights
1.2 / 1.5

Letter Spacing
0 / -2px

Font Family
Poppins

----------------Typography----------------

Primary
Base: #339af0 (Sky Blue)
Tint: #d0ebff (Arctic)
Shade:#1c7ed6 (Deep Sea)

Secondary
Base: #9775fa (Lavendar)
Tint: #e5dbff (Moon Light Iris)
Shade: #7048e8 (Velvet Night)

Tertiary
Base: #ff922b (Pumpkin)
Tint: #ffebcc (Dawn)
Shade: f76707 (Lava)

Grey
Base: #495057 (Slate)
Tint: #f1f3f5 (Pebble)
Shade: #212529 (Graphite)

*/

h1 {
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
    letter-spacing: -2px;
    font-size: 62px;
    font-family: "Poppins", serif;
    color: #212529;
}

h2 {
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
    letter-spacing: -2px;
    font-size: 48px;
    font-family: "Poppins", serif;
    color: #212529;
}

h3 {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -2px;
    font-size: 40px;
    font-family: "Poppins", serif;
    color: #212529;
}

h4 {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -2px;
    font-size: 32px;
    font-family: "Poppins", serif;
    color: #212529;
}

h5 {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -2px;
    font-size: 24px;
    font-family: "Poppins", serif;
    color: #212529;
}

h6 {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -2px;
    font-size: 20px;
    font-family: "Poppins", serif;
    color: #212529;
}

p {
    font-weight: 400;
    line-height: 1.5;
    font-size: 20px;
    font-family: "Poppins", serif;
    color: #495057;
}

a {
    font-weight: 400;
    text-decoration: none;
    font-size: 16px;
    font-family: "Poppins", serif;
    color: #495057;
}

ul {
    list-style: none;
}